@{
    ViewBag.Title = "Quản Lý Banner";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <h2 class="mt-4 mb-4">Quản Lý Banner</h2>

    <a href="@Url.Action("ThemBanner")" class="btn btn-primary mb-3">Thêm Banner Mới</a>

    <div class="card">
        <div class="card-body">
            <table class="table table-hover table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Mã Banner</th>
                        <th scope="col">Hình Ảnh</th>
                        <th scope="col">Mô Tả</th>
                        <th scope="col">Hành Động</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.MaBanner</td>
                            <td><img src="~/assets/images/banner/@item.HinhAnh" alt="Banner" style="width: 100px; height: auto;" /></td>
                         
                            <td>@item.MoTa</td>
                            <td>
                                <a href="@Url.Action("SuaBanner", new { id = item.MaBanner })" class="btn btn-warning btn-sm">Sửa</a>
                                <a href="@Url.Action("XoaBanner", new { id = item.MaBanner })" class="btn btn-secondary btn-sm">Xóa</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
