@model TMDTLaptop.Models.TaiKhoan

@{
    ViewBag.Title = "Thêm Nhân Viên";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@if (ViewBag.ErrorMessage != null)
{
    <script>
     alert('@Html.Raw(ViewBag.ErrorMessage)');
    </script>
}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h2 class="mt-4">@ViewBag.Title</h2>

            @using (Html.BeginForm("ThemNhanVien", "Admin", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label for="Username">Username</label>
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Nhập username" })
                </div>

                <div class="form-group">
                    <label for="Password">Password</label>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Nhập password" })
                </div>

                <div class="form-group">
                    <label for="HoTen">Họ Tên</label>
                    @Html.TextBoxFor(m => m.HoTen, new { @class = "form-control", placeholder = "Nhập họ tên" })
                </div>

                <div class="form-group">
                    <label for="Email">Email</label>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Nhập email" })
                </div>

                <div class="form-group">
                    <label for="SoDienThoai">Số Điện Thoại</label>
                    @Html.TextBoxFor(m => m.SoDienThoai, new { @class = "form-control", placeholder = "Nhập số điện thoại" })
                </div>

                <div class="form-group">
                    <label for="DiaChi">Địa Chỉ</label>
                    @Html.TextBoxFor(m => m.DiaChi, new { @class = "form-control", placeholder = "Nhập địa chỉ" })
                </div>

                <div class="form-group">
                    <label for="MaQuyen">Quyền</label>
                    @Html.DropDownListFor(m => m.MaQuyen, new SelectList(new[]
                    {
                        new { Value = 2, Text = "Nhân viên thường" },
                        new { Value = 4, Text = "Nhân viên chăm sóc khách hàng" }
                    }, "Value", "Text"), "Chọn quyền", new { @class = "form-control" })
                </div>

                <button type="submit" class="btn btn-success">Lưu</button>
                <a href="@Url.Action("QuanLyNhanVien", "Admin")" class="btn btn-secondary">Quay lại</a>
            }
        </div>
    </div>
</div>
