@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<style>
    .breadcrumb-area {
        background-image: url('@Url.Content("~/assets/images/banner/banner3.jpg")'); /* Đường dẫn tới hình ảnh */
    }
</style>
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>Đăng ký</h2>
            <ul>
                <li><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
                <li class="active">Đăng ký</li>
            </ul>
        </div>
    </div>
</div>
<!-- Uren's Breadcrumb Area End Here -->
<!-- Begin Uren's Login Register Area -->
<div class="uren-login-register_area" style="margin-left:30%">
    <div class="container-fluid">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xs-12">
            <form action="@Url.Action("DangKy", "Home")" method="post">
                <div class="login-form">
                    <h4 class="login-title">Đăng ký</h4>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Họ và tên</label>
                            <input type="text" name="HoTen" placeholder="Vui lòng nhập họ và tên">
                            @if (ViewData.ModelState.ContainsKey("HoTen") && ViewData.ModelState["HoTen"].Errors.Count > 0)
                            {
                                <span class="text-danger">@ViewData.ModelState["HoTen"].Errors[0].ErrorMessage</span>
                            }
                        </div>
                        <div class="col-md-12">
                            <label>Tên đăng nhập*</label>
                            <input type="text" name="Username" placeholder="Vui lòng nhập tên đăng nhập">
                            @if (ViewData.ModelState.ContainsKey("Username") && ViewData.ModelState["Username"].Errors.Count > 0)
                            {
                                <span class="text-danger">@ViewData.ModelState["Username"].Errors[0].ErrorMessage</span>
                            }
                        </div>
                        <div class="col-md-12">
                            <label>Email*</label>
                            <input type="email" name="Email" placeholder="Vui lòng nhập email">
                            @if (ViewData.ModelState.ContainsKey("Email") && ViewData.ModelState["Email"].Errors.Count > 0)
                            {
                                <span class="text-danger">@ViewData.ModelState["Email"].Errors[0].ErrorMessage</span>
                            }
                        </div>
                        <div class="col-md-12">
                            <label>Địa chỉ*</label>
                            <input type="text" name="DiaChi" placeholder="Vui lòng nhập địa chỉ">
                            @if (ViewData.ModelState.ContainsKey("DiaChi") && ViewData.ModelState["DiaChi"].Errors.Count > 0)
                            {
                                <span class="text-danger">@ViewData.ModelState["DiaChi"].Errors[0].ErrorMessage</span>
                            }
                        </div>
                        <div class="col-md-12">
                            <label>Số điện thoại*</label>
                            <input type="text" name="SoDienThoai" placeholder="Vui lòng nhập số điện thoại">
                            @if (ViewData.ModelState.ContainsKey("SoDienThoai") && ViewData.ModelState["SoDienThoai"].Errors.Count > 0)
                            {
                                <span class="text-danger">@ViewData.ModelState["SoDienThoai"].Errors[0].ErrorMessage</span>
                            }
                        </div>
                        <div class="col-md-6">
                            <label>Mật khẩu</label>
                            <input type="password" name="Password" placeholder="Vui lòng nhập mật khẩu">
                            @if (ViewData.ModelState.ContainsKey("Password") && ViewData.ModelState["Password"].Errors.Count > 0)
                            {
                                <span class="text-danger">@ViewData.ModelState["Password"].Errors[0].ErrorMessage</span>
                            }
                        </div>
                        <div class="col-md-6">
                            <label>Nhập lại mật khẩu</label>
                            <input type="password" name="XacNhanMatKhau" placeholder="Vui lòng nhập lại mật khẩu">
                            @if (ViewData.ModelState.ContainsKey("XacNhanMatKhau") && ViewData.ModelState["XacNhanMatKhau"].Errors.Count > 0)
                            {
                                <span class="text-danger">@ViewData.ModelState["XacNhanMatKhau"].Errors[0].ErrorMessage</span>
                            }
                        </div>
                        <div class="col-12">
                            <button class="uren-register_btn" type="submit">Đăng ký</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
