
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<style>
    .breadcrumb-area {
        background-image: url('@Url.Content("~/assets/images/banner/banner3.jpg")'); /* Đường dẫn tới hình ảnh */
    }
</style>
@if (TempData["SuccessMessage"] != null)
{
    <script>
        alert('@Html.Raw(TempData["SuccessMessage"])');
    </script>
}

<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>Đăng nhập</h2>
            <ul>
                <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                <li class="active">Đăng nhập</li>
            </ul>
        </div>
    </div>
</div>
<!-- Uren's Breadcrumb Area End Here -->
<!-- Begin Uren's Login Register Area -->
<div class="uren-login-register_area" style="margin-left:30%">
    <div class="container-fluid">
        <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6">
            <!-- Login Form -->
            <form action="@Url.Action("DangNhap", "Home")" method="post">
                <div class="login-form">
                    <h4 class="login-title">Đăng nhập</h4>
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </div>
                    }
                <div class="row">
                    <div class="col-md-12 col-12">
                        <label>Tên đăng nhập*</label>
                        <input type="text" name="text" placeholder="Vui lòng nhập Email" required>
                    </div>
                    <div class="col-12 mb--20">
                        <label>Mật khẩu</label>
                        <input type="password" name="MatKhau" placeholder="Vui lòng nhập mật khẩu" required>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="uren-login_btn">Đăng nhập</button>
                    </div>
                    <div class="col-md-12 mt-2">
                        <a href="@Url.Action("QuenMatKhau", "Home")" class="btn btn-link">Quên mật khẩu?</a>
                    </div>
                </div>
                </div>
            </form>
        </div>
    </div>
</div>


